body {
    font-size: 1.3em !important;
}

#popup-wrapper {
    width: 20em;
}

.section-wrapper {
    padding: 0.5em;
}

#popup-header {
    margin: 5px;
}

.popup-header-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.align-right{
    float: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    margin-left: 5px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    margin: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(20px);
-ms-transform: translateX(20px);
transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.session-tab-group-item {
    margin: 0.5em 0;
}

#popup-tabs-bar::after{
    border-top: 1px solid grey;
    content: "";
    display: block;
}

#popup-tab-content {
    overflow-y: auto;
}

#tab-groups-view {
    font-size: 0.8em;
    max-height: 12em;
    overflow-y: auto;
}

.warning-text {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: rgb(255,0,0);
}

.color {
    background-color: red;
}

.modal-body {
    max-height: 12em;
    overflow-y: auto;
}