<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/popup.css"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="../js/jquery-3.4.0.min.js"></script>
        <script src="../js/popupHandler.js"></script>
    </head>
    <body>
        <div id="popup-wrapper" >
         <!-- Inject session lists into div-->
            <div id="popup-header" class="section-wrapper"> 
                <img id="logo" src="../RM128.png" width="30px" height="30px"/>
                <label class="popup-header-text" for="logo">Research Manager</label>
                <span class="align-right">
                    <label class="switch">
                        <input type="checkbox" id="on-off-switch" >
                        <span class="slider round"></span>
                    </label>
                    <label class="switch-label" id="on-off-switch-label" for="on-off-switch">Off</label>
                </span>
            </div>
            <div id="popup-main-interface" hidden>
                <div id="popup-session-selector" class="section-wrapper">
                    <div class="input-group mb-3">    
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="session-selector">Session Topic</label>
                        </div>
                        <select id="session-selector" class="custom-select">
                        </select>
                    </div>
                </div>
                <div id="popup-tabs-bar">
                    <ul class="popup-tabs">
                        <li><a href="#">Tabs</a></li>
                        <li><a href="#">Quotes</a></li>
                        <li><a href="#">Citations</a></li>
                        <li><a href="#">Datasets</a></li>
                    </ul>
                </div>
                <div id="popup-tab-content" class="section-wrapper">
                    <div id="tabView"></div>
                </div>
            </div>
        </div>
    </body>
</html>